* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 70%;
    /* display: flex; Como defini um space-between, nem precisa mais do display-flex */
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position:absolute;
    background-color: #9400d3;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left:0%;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    color: red;
}

.title-primary {
    color: #fff;
}

.description {
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
}

.description-primary {
    color: #fff;
}

.description-second {
    color: #9400d3;
}

.first-content {
    display: flex; 
}

.first-content .second-column {
    z-index: 11;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-second {
    color: #9400d3;
    margin-bottom: 15px;
}

.list-social-media {
    display: flex;
    list-style-type: none;
    margin-bottom: 5px;
}

.social-media {
    margin: 1 rem 0;
}

.item-social-media  {
    border: 1px solid #9400d3;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #9400d3;
}

/* pseudo-classe */

.link-social-media:not(:first-child) { 
    margin-left: 10px;
}

.link-social-media .item-social-media {
    transition: background-color .5s;
}

.link-social-media:hover .item-social-media { 
    background-color: #9400d3;
    border-color: #9400d3;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
}

form input {
    height: 45px;
    width: 100%; 
    border: none;
    background-color:#efcffc;  
}

.label-input {
    background-color: #efcffc;
    display:flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: #9400d3;
    padding: 0 10px;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.btn-primary:hover {
    background-color:#fff;
    color: #9400d3;
}

.placeholder-text::placeholder {
    color: #9400d3;
}

.btn-second {
    background-color: #9400d3;
    border: 1px solid #9400d3;
    transition: background-color .5s;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #9400d3;
    color: #9400d3;
}

/* Second content*/

.second-content {
    position: absolute; 
    display: flex;   
}

.second-content .first-column {
    order: 2;
    z-index: -1;
}

.second-content .second-column {
    order: 1;
    z-index: -1;
}

.password {
    color: #9400d3;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.password::first-letter {
    text-transform: capitalize;
}

form input {
    outline: none;
}

.sign-in-js .first-content .first-column, .sign-in-js .first-content .second-column {
    z-index: -1;
}

.sign-in-js .second-content .first-column, .sign-in-js .second-content .second-column {
    z-index: 11;
}

.sign-in-js .second-content .first-column {
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 3s;
    z-index: 12;
}

.sign-up-js .content::before {
    animation:slideout 3s;
    z-index: 12;
}

.sign-up-js .second-content .first-column, .sign-up-js .second-content .second-column {
    z-index: -1;
}

.sign-up-js .first-content .first-column, .sign-up-js .first-content .second-column {
    z-index: 11;
}

.sign-up-js .first-content .first-column {
    z-index: 13;
}

/* Deslocamento do conteúdo no content::before */

.sign-in-js .first-content .second-column {
    z-index: -1;
    position: relative;
    animation:deslocamento 3s;
}

.sign-up-js .second-content .second-column {
    z-index: -1;
    position: relative;
    animation:deslocamentoDir 3s;
}

/* Animação CSS para o conteúdo */

@keyframes deslocamento  {
    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25% {
        left: -80px;
        opacity: .5;
    }

    50% {
        left: -100px;
        opacity: .2;
    }

    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes deslocamentoDir  {
    from {
        left: 0;
        z-index: 12;
    }

    25% {
        left: 80px;
    }

    50% {
        left: 100px;
    }

    to {
        left: 110px;
        z-index: -1;
    }
}

/* Animação CSS*/

@keyframes slideout {
    from {
        left: 60%;
        width: 40%;
    }

    25% {
        left: 45%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 5%;
        width: 50%;
    }

    to {
        left: 0%;
        width: 40%;
    }
}

@keyframes slidein {
    from {
        left: 0;
        width: 40%;
    }

    25% {
        left: 5%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 45%;
        width: 50%;
    }

    to {
        left: 60%;
        width: 40%;
    }
}

/* Versão Mobile */

@media screen and (max-width: 1040px) {
    .content {
        width: 100%;
        height: 100%;
    }

    .content::before {
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
    }

    .first-content, .second-content {
        flex-direction: column;
        justify-content:space-around;
    }

    .first-column, .second-column {
        width: 100%;
    }

    .sign-in-js .content::before {
        top: 60%;
        left: 0;
        border-radius: 0;
    }

    .form {
        width: 90%;
    }

    /* Animação mobile css */

@keyframes deslocamento  {
    from {
        top: 0;
        opacity: 1;
        z-index: 12;
    }

    25% {
        top: -80px;
        opacity: .5;
    }

    50% {
        top: -100px;
        opacity: .2;
    }

    to {
        top: -110px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes deslocamentoDir  {
    from {
        top: 0;
        z-index: 12;
    }

    25% {
        top: 80px;
    }

    50% {
        top: 100px;
    }

    to {
        top: 110px;
        z-index: -1;
    }
}

@keyframes slidein {
    from {
        top: 0;
        height: 40%;
    }

    25% {
        top: 5%;
        height: 50%;
    }

    50% {
        top: 25%;
        height: 60%;
    }

    75% {
        top: 45%;
        height: 50%;
    }

    to {
        top: 60%;
        height: 40%;
    }
}

@keyframes slideout {
    from {
        top: 60%;
        height: 40%;
    }

    25% {
        top: 45%;
        height: 50%;
    }

    50% {
        top: 25%;
        height: 60%;
    }

    75% {
        top: 5%;
        height: 50%;
    }

    to {
        top: 0%;
        height: 40%;
    }
}
 
}

@media screen and (max-width: 740px) {
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .form {
        width: 100%;
    }
}